html,
body,
.App {
  text-align: center;
  background-color: #2b272b;
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Avoid unwanted scrolling when using touch input. */
  overflow: hidden;
}

.instructions {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 1em;
  z-index: 50;
  text-align: left;
  color: #f4f1e3;
}

a:any-link {
  color: #8dc9bf;
}
