// Base style for the dot when it isn't being dragged.
$dotColor: #8dc9bf;
$dotBorderColor: #f4f1e3;
.dancing-dot {
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  background-color: $dotColor;
  border: 2px solid $dotBorderColor;
  cursor: grab;
  transition-property: background-color, border-color;
  transition-duration: 200ms;

  // Style for the dot while it's being dragged locally.
  &.local-drag {
    background-color: darken($dotColor, 15%);
    border: 2px solid darken($dotBorderColor, 15%);
  }
}
